<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <script src="~/Scripts/Angular.js"></script>
        <script src="~/Scripts/Home.js"></script>
        <title>Introduction to AngularJS</title>
    </head>

    <body>
        
        <div class="home">
            <h1>1995 Cleveland Indians </h1>
            <div ng-app="" ng-controller="myController">
              
                   <div ng-repeat="BattingOrder in list">{{ BattingOrder.FirstName + " " + BattingOrder.LastName}}</div>
                            
            </div>
       </div>
    </body>

</html>