<html>
<head>
    <link href=" ~/Styles/Home.css" rel="stylesheeet" />
    <title>Final Project</title>
</head>

<body>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
    <style type="text/css">
        body {
            font-family: Calibri; 
            background-color: #66CC99;
            width: 970px;
            height: 570px;
            padding: 20px;
            border:  10px solid #009966;
            margin: 20px;
            text-align: center;
        }

        .style1 {
            text-align: center;
        }

        .style2 {
            height: 150px;
        }
    </style>
            <div>
                <div class="style2">
                    <h1 class="style1"><strong>Welcome to Cuyahoga Community College Students Services Online</strong></h1>
                    <p class="style1">Cuyahoga Community College recognize students' rights to access personal and academic records
                    in accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568.</p>
                    <br />    
                </div>
                <div>
                    <div>
                        <div class="icon">
                            <label class="label" for="inputUsername">Username</label>
                            <div class="controls">
                                <input type="text" id="inputUsername" placeholder="Username">
                            </div>
                        </div>
                        <div class="group1">
                            <label class="label" for="inputPassword">Password</label>
                            <div class="controls">
                                <div class="input">
                                    <input type="password" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="group1">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                </label>
                                <button type="submit" class="btn">Log in</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                <br />
                <div>                                         
                        <div>
                            <div class="group2">
                                <label class="label" for="inputUsername">Username</label>
                                <div class="controls">
                                    <input type="text" id="inputUsername" placeholder="Username">
                                </div>
                            </div>
                            <div class="group2">
                                <label class="label" for="inputPassword">Password</label>
                                <div class="controls">
                                    <div class="input">
                                        <input type="password" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="group2">
                                <label class="label" for="inputE-mail">E-mail Address</label>
                                <div class="controls">
                                    <div class="input">
                                        <input type="text" id="inputE-mail" placeholder="E-mail Address">                                
                                    </div>
                                </div>
                            </div>
                            <div class="group2">
                                <label class="label" for="inputRepeat">Repeat E-mail Address</label>
                                <div class="controls">
                                    <div class="input">
                                        <input type="text" id="inputRepeat" placeholder="Repeat E-mail Address">                                        
                                    </div>
                                </div>
                            </div>
                            <div class="group2">
                                <div class="control">
                                    <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                    </label>
                                    <button type="submit" class="btn">Create Account</button>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            <footer>
                <br />
                <br />
                <address><strong>Cuyahoga Community College</strong></address>
                <address><strong>11000 Pleasant Vally Road Parma, OH 44130</strong></address>
            </footer>
      </body>
</html>
