<html>
<head>
    <link href=" ~/Styles/Home.css" rel="stylesheeet" />
    <title>Final Project</title>
</head>

<body>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>

    <style>
        body {
            font-family: Calibri;
            background-color: #66CC99;
            width: 700px;
            height: 570px;
            padding: 20px;
            border: 10px solid #009966;
            margin: 20px;
            text-align: center;
        }

        header {
            font-family: Calibri;
            font-size: 18px;
        }

        .style1 {
            text-align: center;
        }
    </style>
    <div>
        <h1 class="style1">Welcome to Cuyahoga Community College Students Services Online</h1>

        <strong>AccountName</strong>
        <p>Phillip Ruzicho</p>
        <p>EmailAddress</p>
        <button type="button">Update</button>
        <br />
        <p>CurrentGPA</p>
        <button type="button">Update</button>
        <br />
        <br />
        <hr />
        <br />
        <p>ElementName</p>
        <p>ElementValue</p>
        <button type="button">Add</button>
    </div>
    <footer>
        <br />
        <br />
        <address><strong>Cuyahoga Community College</strong></address>
        <address><strong>11000 Pleasant Vally Road Parma, OH 44130</strong></address>
    </footer>
</body>
</html>




       


