 <html>
<head>
    <link href=" ~/Styles/Home.css" rel="stylesheeet" />
    <title>Final Project</title>
</head>

<body>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
    <style>
        body {
            background-color: #66CC99;
        }
    </style>
    <div>
        <div>
            <div>
                <p>New users, please create a</p>
                <p> new account by providing</p>
                <p>us with some basic information</p>
            </div>
            <div class="style2">
                Username:

                <p style="color:red">
                    The username you enterned is already taken.
                </p>
            </div>
        </div>
        <div>
            <div class="style2">
                Password:
                <br />
                <p style="color: red">
                    Password must contain at least six characters.
                </p>
            </div>
        </div>
    </div>
</body>
</html>

